//// Colors ~~~~~~~~~~~~~~~~~~~~~~~~~~

$background-grey: #1F1F1F;
$white: #fff;
$steps-orange: #F5634B;
$hydration-blue: #54C6BE;
$stairs-purple: #8975B2;
$sleep-yellow: #FBD089;

//// Fonts ~~~~~~~~~~~~~~~~~~~~~~~~~~

$card-font: 'Work Sans', sans-serif;
$main-font: 'Oswald', sans-serif;